<div class="tab" data-group="appearance" data-tab="ring">
    <div class="form-group">
        <label>{{localize "BLEACHD20.TokenRings.Enabled"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="flags.bleachd20.tokenRing.enabled" {{checked flags.enabled}}>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "BLEACHD20.TokenRings.Subject.Label"}}</label>
        <div class="form-fields">
            {{filePicker type="image" target="flags.bleachd20.tokenRing.textures.subject"}}
            <input class="image" type="text" name="flags.bleachd20.tokenRing.textures.subject"
                   value="{{flags.textures.subject}}" placeholder="{{subjectPlaceholder}}">
        </div>
        <p class="hint">{{localize "BLEACHD20.TokenRings.Subject.Hint"}}</p>
    </div>
    <div class="form-group">
        <label>{{localize "BLEACHD20.TokenRings.ScaleCorrection"}}</label>
        <div class="form-fields">
            {{rangePicker name="flags.bleachd20.tokenRing.scaleCorrection" value=flags.scaleCorrection
                          min=0.8 max=4 step=0.1}}
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "BLEACHD20.TokenRings.RingColor"}}</label>
        <div class="form-fields">
            {{colorPicker name="flags.bleachd20.tokenRing.colors.ring" value=flags.colors.ring}}
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "BLEACHD20.TokenRings.BackgroundColor"}}</label>
        <div class="form-fields">
            {{colorPicker name="flags.bleachd20.tokenRing.colors.background" value=flags.colors.background}}
        </div>
    </div>
    {{#each effects}}
    <div class="form-group">
        <label>{{label}}</label>
        <div class="form-fields">
            <input type="checkbox" name="flags.bleachd20.tokenRing.effects.{{@key}}" {{checked checked}}>
        </div>
    </div>
    {{/each}}
</div>
