<form autocomplete="off">
    <h3>{{ localize "BLEACHD20.DamageTypes" }}</h3>
    <p class="note">{{ localize "BLEACHD20.DamageModification.Hint" }}</p>
    <ol class="trait-list modifications">
        {{#each modifications}}
        <li>
            <label>
                {{ label }}
                <input type="text" name="system.traits.dm.amount.{{ @key }}" value="{{ value }}"
            </label>
        </li>
        {{/each}}
    </ol>

    <h3>{{ localize "BLEACHD20.DamagePhysicalBypass" }}</h3>
    <p class="note">{{ localize "BLEACHD20.DamageModification.BypassHint" }}</p>
    {{> "bleachd20.trait-list" choices=bypasses prefix="system.traits.dm.bypasses" }}

    <button type="submit" name="submit" value="1">
        <i class="fa-regular fa-save"></i> {{ localize "BLEACHD20.TraitSave" }}
    </button>
</form>
