<form autocomplete="off" onsubmit="event.preventDefault();">
    {{> "bleachd20.trait-list" prefix="choices"}}

    {{#if customPath}}
        <div class="form-group stacked">
            <label>{{localize "BLEACHD20.TraitSelectorSpecial"}}</label>
            <div class="form-fields">
                <input type="text" name="{{customPath}}" value="{{custom}}">
            </div>
        </div>
    {{/if}}

    {{#if bypassesPath}}
        <h3>{{localize "BLEACHD20.DamagePhysicalBypass"}}</h3>
        <p class="note">{{localize "BLEACHD20.DamagePhysicalBypassHint"}}</p>
        {{> "bleachd20.trait-list" choices=bypasses prefix="bypasses"}}
    {{/if}}

    <button type="submit"><i class="far fa-save"></i> {{localize "BLEACHD20.TraitSave"}}</button>
</form>
